

div.cart-container{
    padding:1em;
    margin:1em;
}

div.cart-container>div.cart:empty::after{
    content: 'Cart is empty';
    font-size:1.4em;
    color: #f00;
}

div.cart{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

div.cart-total {
    font-size: 3em;
    margin-top: 1em;
    border-top: 1px solid rgba(0,0,0,0.25);
    text-align: right;
    color: rgb(30, 110, 30);
}
div.cart-total::before{
    content:'Total: ';
    color:#000;
}

    div.cart-total::after {
        content: ' NOK';
    }