

div.product {
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    padding: 1em;
    display: flex;
    margin-top: 1px;
    margin-bottom: 1px;
    background: rgb(248,247,246);
    flex-flow: row;
    justify-content: space-between;
    transition: box-shadow 50ms linear;
}

div.product:hover {
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    cursor: pointer;
}

div.product > div.product-name {
    font-size: 2em;
}

div.product > div.product-price {
    align-self: flex-end;
    color: rgb(30, 110, 30);
    font-size: 1.3em;
}

div.product > div.product-price::after {
    content: ' NOK';
}
